.gistModal
{
    font-family: 'Droid Sans';

    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: -webkit-box;
    overflow: auto;

    box-sizing: border-box;
    padding: 20px;
    padding-top: 30px;

    -webkit-transition: 200ms opacity;

    background-color: rgba(255,255,255,.75);

    -webkit-perspective: 1px;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-font-smoothing: antialiased;
}

.gistModal *,
.gistModal *:before,
.gistModal *:after
{
    box-sizing: border-box;
}

.gistModal_content
{
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;

    width: 500px;
    min-width: 500px;
    padding: 0;
    padding: 20px 20px;

    -webkit-transition: 200ms transform;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 180ms;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;

    color: #333;
    -webkit-border-radius: 3px;
    background: white;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, .2), 0 2px 6px rgba(0,0,0,.15);

    align-items: center;
    justify-content: center;
}
.gistModal_form
{
    display: flex;
    flex-direction: column;

    width: 85%;

    justify-content: space-between;
    align-items: center;
}

.gistModal_form > input,
.gistModal_form > textarea
{
    font-size: 16px;
    font-size: 14px;
    line-height: 1.625;

    display: block;

    width: 100%;
    height: 40px;
    min-height: 40px;
    padding: 6px 12px;

    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    color: #555;
    border: 1px solid #ccc;
    border-color: #eee;
    border-radius: 3px;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: none !important;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: none !important;

    -webkit-appearance: none;
}

.gistModal_form > input:focus,
.gistModal_form > textarea:focus
{
    border-color: #333 !important;
    outline: none;
}

.gistModal_form > input,
.gistModal_form > textarea
{
    display: block;

    width: 100%;
    margin: 5px 10px;
}

.gistModal_form > input
{
    height: 40px;
    min-height: 40px;
}

.gistModal_form > textarea
{
    height: 80px;
    min-height: 80px;

    resize: none;
}

.gist_public
{
    position: relative;
    position: relative;
    z-index: 1000;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin-right: .5rem;

    cursor: pointer;
    cursor: pointer;
    -webkit-transition: all .15s ease-out 0;
       -moz-transition: all .15s ease-out 0;
            transition: all .15s ease-out 0;
    vertical-align: middle;

    color: #fff;
    border: none;
    outline: none;
    background: #cbd1d8;

    -webkit-appearance: none;
            appearance: none;
}

.gist_public:hover
{
    background: #9faab7;
}

.gist_public:checked
{
    background: #40e0d0;
}

.gist_public:checked::before
{
    font-size: 16px;
    line-height: 20px;

    position: absolute;

    display: inline-block;

    width: 20px;
    height: 20px;

    content: '\2714';
    text-align: center;

    color: #fff;
}

.gist_public:checked::after
{
    position: relative;
    z-index: 100;

    display: block;

    content: '';
    -webkit-animation: click-wave .65s;
       -moz-animation: click-wave .65s;
            animation: click-wave .65s;

    background: #40e0d0;
}

.gistModal_form .flexbox
{
    display: flex;

    width: 100%;

    justify-content: space-between;
}

.gistModal_form .flexbox .gist_public_label
{
    font-size: 20px;
    line-height: 1;

    display: inline-block;

    width: 30%;
    margin: 5px 10px;
    padding: 5px 10px;

    cursor: pointer;

    border: 1px solid #40e0d0;
    border-radius: 2px;
}

.gistModal_form .flexbox .btnDone
{
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;

    position: relative;

    display: inline-block;

    width: 30%;
    margin: 5px 10px;
    padding: 5px 10px;

    cursor: pointer;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
    border-color: rgba(0,0,0,.3);
    outline: none;
    background-color: #e48681;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
}

.gistModal_form .flexbox .btnDone:hover
{
    border-color: rgba(0,0,0,.5);
    background-color: #da4f49;
}
@-webkit-keyframes pulse
{
    0%
    {
        transform: scale(1);
    }
    40%
    {
        transform: scale(1.02);
    }
    60%
    {
        transform: scale(1.02);
    }
    100%
    {
        transform: scale(1);
    }
}

.infotips
{
    font-size: 14px;

    width: 85%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: -20px;
    padding: 5px 10px;

    text-align: center;

    color: #777;
    border: 1px solid #e48681;
    border-bottom: none;
}

.closeBtn
{
    font-size: 12px;
    line-height: 2;

    position: absolute;
    top: 5px;
    right: 5px;

    width: 24px;
    height: 24px;

    cursor: pointer;
    text-align: center;

    color: #e48681;
    border: 1px solid #ccc;
    border-radius: 12px;
    background: #fff;
}

.closeBtn:hover
{
    font-weight: bolder;

    background-color: #ccc;
}


/* loader */
.modal_loader
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(255,255,255,.55);
}

.modal_loader.show
{
    display: block;
}

.modal_spinner
{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 40px;
    height: 40px;
    margin: auto;
}

.double-bounce1,
.double-bounce2
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out;

    opacity: .6;
    border-radius: 50%;
    background-color: #333;
}

.double-bounce2
{
    -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce
{
    0%,
    100%
    {
        -webkit-transform: scale(.0);
    }
    50%
    {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bounce
{
    0%,
    100%
    {
        -webkit-transform: scale(.0);
                transform: scale(.0);
    } 50%
    {
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}
